
.image_upload_gallery {
  overflow: hidden;
  text-align: left !important;
  font-size: 100%;
  }

.image_upload_gallery .title {
  font-size: 14pt;
  margin: 10px 0 10px;
  }

.upload_progress {
  padding: 0 10px 10px 10px;
  border: 1px solid #ddd;
  background: #E7EEF6;
  width: 600px;
  }

.image_upload_gallery .upload_button_cont,
.upload_progress {
    width: 600px;
}

.upload_progress {
    background: #ffc1c1;
    padding: 10px;
    display: none;
    }

.uploaded_image_list {
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
    overflow: hidden;
    }

    .uploaded_image_list li {
        float: left;
        margin: 0 10px 10px 0;
        padding: 5px;
        overflow: hidden;
        border: 1px solid #ccc;
        background: #fff;
        text-align: center;
        cursor: move;
        }

        .uploaded_image_list li img {
            margin-bottom: 3px;
            }

    /*.uploaded_image_list a.delete {*/
        /*background: url('/sfDoctrinePlugin/images/delete.png') no-repeat scroll 0 0 transparent !important;*/
        /*padding-left: 20px;*/
        /*}*/

.image_upload_gallery .upload_progress {
    margin: 10px 0 0 0;
    }

.image_upload_gallery .error_list {
    list-style: none !important;
    margin: 10px 0 0 0;
    color: #ff0000;
    }

.image_upload_gallery .upload_button_cont {
    overflow: hidden;
    clear: both;
    }

    .image_upload_gallery  object {
        float: left;
        }

    .image_upload_gallery .help {
        font-size: 8pt;
        float: left;
        margin-left: 15px;
        padding-top: 15px;
        padding-left: 0 !important;
        }

.swfupload {
    margin: 15px 0 5px 0;
    }
